* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #cee5d0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  color: #5e454b;
  margin-top: 30px;
}
.header {
  display: flex;
  align-items: center;
}
.header p {
  width: 50%;
  text-align: justify;
  margin-left: 150px;
  line-height: 3rem;
  font-size: 1.4rem;
}
img {
  max-width: 250px;
  min-width: 260px;
  margin-left: 30px;
}
h3 {
  font-size: 1.5rem;
  margin-left: 30px;
}
.ingredients {
  background-color: #f3f0d7;
  color: #5e454b;
  padding: 10px 10px;
  margin-top: 10px;
}
.ingredients li {
  margin-top: 10px;
}
ul,
ol {
  margin-left: 30px;
}
ol li {
  margin-top: 10px;
}
li {
  font-size: 1.4rem;
}
.steps {
  background-color: #d8b384;
  color: #5e454b;
  padding: 10px 10px;
  padding-bottom: 30px;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5e454b;
  padding: 5px;
}
a {
  color: #d8b384;
  text-decoration: none;
}
a:hover {
  color: #f3f0d7;
}
ul {
  list-style-type: disc;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  .header {
    flex-direction: column;
    gap: 2rem;
  }
  img {
    margin: 30px auto 0 auto;
  }
  .header p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 80%;
    margin: 20px auto;
  }
  h3 {
    font-size: 1.3rem;
  }
  ol {
    width: 80%;
  }
  li {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .steps {
    padding-bottom: 20px;
  }
  footer {
    padding: 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1900px) {
  h1 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
  .header p {
    line-height: 1.8rem;
    width: 50%;
    margin: 30px;
  }
  .ingredients {
    padding: 50px 10px;
  }
  .steps {
    padding: 40px 10px;
  }
  ol {
    width: 80%;
  }
}
