* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #cee5d0;
  height: 100vh;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  color: #5e454b;
  margin-top: 50px;
}
.header {
  display: flex;
  align-items: center;
}
.header p {
  width: 50%;
  text-align: justify;
  margin-left: 150px;
  line-height: 3.5rem;
  font-size: 1.6rem;
}
img {
  max-width: 300px;
  min-width: 260px;
  margin-left: 30px;
}
.ingredients {
  clear: both;
  background-color: #f3f0d7;
  color: #5e454b;
  padding: 15px;
  margin-top: 10px;
}

.steps {
  background-color: #d8b384;
  color: #5e454b;
  padding: 15px;
  margin: 0px;
}

footer {
  display: flex;
  background-color: #5e454b;
  bottom: 0;
  margin-top: 50px;
}

a {
  color: #d8b384;
}

a:hover {
  color: #f3f0d7;
}

ul {
  list-style-type: disc;
}

@media only screen and (max-width: 600px) {
  #salmon-h2,
  #cake-h2 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1400px) {
  img {
    margin-bottom: 15px;
    width: 35%;
    height: auto;
    border: 5px solid #5e454b;
  }
  p {
    font-size: 30px;
  }
  .ingredients {
    word-spacing: 5px;
  }
  .ingredients,
  .steps {
    font-size: 28px;
  }
  h1 {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1400px) {
  img {
    width: 35%;
    border: 5px solid #5e454b;
    margin-bottom: 15px;
  }
  p {
    font-size: 35px;
  }
  .ingredients {
    word-spacing: 8px;
  }
  .ingredients,
  .steps {
    font-size: 30px;
  }
  h1 {
    margin-bottom: 100px;
  }
  footer {
    font-size: 25px;
  }
}
