* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.5rem;
  background-color: #cee5d0;
  margin: 0;
  padding: 0;
}
#image-div {
  width: 100%;
}
#img1 {
  display: block;
  margin: auto;
}
h1 {
  color: #5e454b;
  background-color: #f3f0d7;
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
main {
  height: 400px;
  width: 80%;
  margin: auto;
  line-height: 1.5em;
}
p {
  margin: 15px;
}
footer {
  display: flex;
  background-color: #5e454b;
  padding: 8px;
  font-size: 1.4rem;
}
a {
  color: #d8b384;
  text-decoration: none;
}
a:hover {
  color: #f3f0d7;
}
ul {
  margin-left: 30px;
}
