* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.5rem;
  background-color: #cee5d0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 70px;
}
#image-div {
  width: 100%;
}
#img1 {
  display: block;
  margin: auto;
}
h1 {
  color: #5e454b;
  background-color: #f3f0d7;
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
main {
  width: 80%;
  margin: auto;
  line-height: 1.5em;
}
p {
  margin: 15px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #5e454b;
  padding: 8px;
  font-size: 1.4rem;
}
a {
  color: #d8b384;
  text-decoration: none;
}
a:hover {
  color: #f3f0d7;
}
ul {
  margin-left: 30px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  #img1 {
    width: 280px;
  }
  h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1.4rem;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  main {
    width: 90%;
    margin-top: 50px;
  }
  footer {
    font-size: 1rem;
    padding: 2px 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1900px) {
  #img1 {
    width: 600px;
  }
  main {
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
  footer {
    font-size: 1.2rem;
  }
}
